.num-square {
    display: inline-flex;
    width: 35px;
    height: 36px;
    justify-content: center;
    align-items: center;
}

.isToday { 
    border: solid;
    border-width: 0.5px;
    background-color: rgba(83, 163, 255, 0.445);
}
.isToday:hover {
    cursor: pointer;
}

.num-square-hover:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.selected {
    background-color: #f5f5f5;
}